.git
.github
.env
.env.*
!.env.example
.aws
credentials
**/.terraform
*.tfstate
*.tfstate.*
**/__pycache__
**/*.pyc
ui/frontend/node_modules
ui/frontend/dist
results/*.json
.s3_bucket
.ecr_repo
.ecr_repo_name
